@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

body {
  background-color: #A9D7D1;
  text-align: center;
  font-family: 'Slabo 27px', serif;
}

input {
  border-radius: 5px;
}

li {
  list-style: none;
}

#attention {
  color: red;
}

.label {
  display: inline-block;
  text-align: right;
  width: 40%;
}

.input {
  display: inline-block;
  text-align: left;
  width: 48%;
}

.survey-form {
  background-color: #FAFAFA;
  border-radius: 10px;
  margin: 0 auto;
  width: 75%;
  max-width: 900px;
  padding: 10px;
}